body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.error-stack{
  background: #F7F7F7;padding: .5em;
  line-height: 1.5em;
}
.error-info{
  font-size: 20px;
}
.error-info p{padding:0;}
.error-code{
  font-size: 35px;
  color: brown;

}